In [75]:
# Import Dependencies
from bs4 import BeautifulSoup as bs
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [76]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 90.0.4430
Get LATEST driver version for 90.0.4430
Driver [C:\Users\najez\.wdm\drivers\chromedriver\win32\90.0.4430.24\chromedriver.exe] found in cache

## NASA Mars News

In [77]:
# URL of page to be scraped
url_news= 'https://redplanetscience.com/'

browser.visit(url_news)

# HTML object
html_news = browser.html

# Create BeautifulSoup object; parse with 'html.parser'
soup_news = bs(html_news, 'html.parser')

In [78]:
# Look for all the 'div's' that contain the news
results = soup_news.find_all('div', class_='list_text')

In [79]:
# Create empty lists to store what we need
news_title = []
news_p = []

# Loop to find the title and summary of each news
for result in results:
    title = result.find('div', class_='content_title').text
    p = result.find('div', class_='article_teaser_body').text
    news_title.append(title)
    news_p.append(p)

In [80]:
# Verify the content
news_title

["NASA's Perseverance Rover Will Peer Beneath Mars' Surface ",
 'MOXIE Could Help Future Rockets Launch Off Mars',
 "NASA's Mars Rover Drivers Need Your Help",
 "NASA's Mars 2020 Heads Into the Test Chamber",
 'AI Is Helping Scientists Discover Fresh Craters on Mars',
 'Scientists Explore Outback as Testbed for Mars ',
 "NASA-JPL Names 'Rolling Stones Rock' on Mars",
 "NASA's Mars Perseverance Rover Passes Flight Readiness Review",
 "NASA's MAVEN Observes Martian Night Sky Pulsing in Ultraviolet Light",
 "The Extraordinary Sample-Gathering System of NASA's Perseverance Mars Rover",
 'Two Rovers to Roll on Mars Again: Curiosity and Mars 2020',
 "A New Video Captures the Science of NASA's Perseverance Mars Rover",
 "NASA Engineers Checking InSight's Weather Sensors",
 'Naming a NASA Mars Rover Can Change Your Life',
 "NASA's Perseverance Rover Is Midway to Mars "]

In [81]:
# Verify the content
news_p

["The agency's newest rover will use the first ground-penetrating radar instrument on the Martian surface to help search for signs of past microbial life. ",
 "NASA's Perseverance rover carries a device to convert Martian air into oxygen that, if produced on a larger scale, could be used not just for breathing, but also for fuel.",
 'Using an online tool to label Martian terrain types, you can train an artificial intelligence algorithm that could improve the way engineers guide the Curiosity rover.',
 'In this time-lapse video taken at JPL, engineers move the Mars 2020 rover into a large vacuum chamber for testing in Mars-like environmental conditions.',
 "It's the first time machine learning has been used to find previously unknown craters on the Red Planet.",
 "Australia provides a great place for NASA's Mars 2020 and the ESA-Roscosmos ExoMars scientists to hone techniques in preparation for searching for signs ancient life on Mars.",
 "NASA's Mars InSight mission honored one of the biggest bands of all time at Pasadena concert.",
 "\u200bThe agency's Mars 2020 mission has one more big prelaunch review – the Launch Readiness Review, on July 27.",
 'Vast areas of the Martian night sky pulse in ultraviolet light, according to images from NASA’s MAVEN spacecraft. The results are being used to illuminate complex circulation patterns in the Martian atmosphere.',
 'Two astronauts collected Moon rocks on Apollo 11. It will take three robotic systems working together to gather up the first Mars rock samples for return to Earth.',
 'They look like twins. But under the hood, the rover currently exploring the Red Planet and the one launching there this summer have distinct science tools and roles to play.',
 'With a targeted launch date of July 30, the next robotic scientist NASA is sending to the to the Red Planet has big ambitions.',
 'An electronics issue is suspected to be preventing the sensors from sharing their data about Mars weather with the spacecraft.',
 'Want to name the robotic scientist NASA is sending to Mars in 2020? The student who named Curiosity — the rover currently exploring Mars — will tell you this is an opportunity worth taking.',
 "Sometimes half measures can be a good thing – especially on a journey this long. The agency's latest rover only has about 146 million miles left to reach its destination."]

## JPL Mars Space Images - Featured Image

In [82]:
# URL of page to be scraped
fi_url = 'https://spaceimages-mars.com/'

browser.visit(fi_url)

# HTML object
html_fi = browser.html

# Create BeautifulSoup object; parse with 'html.parser'
soup_fi = bs(html_fi, 'html.parser')

In [83]:
# Look for the image we want
images = soup_fi.find_all('img', class_= 'headerimage fade-in')

In [84]:
# Get the source of the image
fi_url_2 = images[0]['src']

In [85]:
# Create the complete url
featured_image_url = fi_url + fi_url_2

# Verify the url
print(featured_image_url)

https://spaceimages-mars.com/image/featured/mars2.jpg

## Mars Facts

In [86]:
# URL of page to be scraped
mfacts_url = 'https://galaxyfacts-mars.com/'

In [87]:
# Extract the tables of the url with pandas
tables = pd.read_html(mfacts_url)

In [88]:
# Get the table we want 
mars_facts = tables[0]

# Verify we got the correct table
mars_facts

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [89]:
# Change the names of the columns
mars_facts.columns = ['Description', 'Mars', 'Earth']

# Verify the table
mars_facts

               Description             Mars            Earth
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [90]:
# Change the index of the table to Description
mars_facts.set_index('Description')

                                    Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [91]:
# Convert the table to html
html_mars_table = mars_facts.to_html()

# Print to verify
html_mars_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Description</th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Mars - Earth Comparison</td>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

## Mars Hemispheres

In [92]:
# URL of page to be scraped
h_url = 'https://marshemispheres.com/'
browser.visit(h_url)

# HTML object
html_h = browser.html

# Create BeautifulSoup object; parse with 'html.parser'
soup_h = bs(html_h, 'html.parser')

In [93]:
# Find all the 'div's' that contain the information we need
hemispheres = soup_h.find_all('div', class_='description')

In [94]:
# Create an empty list to save the information
hemisphere_images_urls = []

# Loop to obtain the information of each hemisphere 
for hemisphere in hemispheres:
    h3 = hemisphere.find('h3')
    ti = h3.text
    ti = ti.split(sep = 'Hemisphere')
    title = ti[0]+'Hemisphere'
    link = hemisphere.find('a')
    href = link['href']
    browser.visit(h_url + href)
    html_h2 = browser.html
    soup_h2 = bs(html_h2, 'html.parser')
    img_url = soup_h2.find_all('img', class_='wide-image')[0]['src']
    hemisphere_images_urls.append({'title':title, 'img_url': h_url+img_url })

In [95]:
# Verify the information
hemisphere_images_urls

[{'title': 'Cerberus Hemisphere',
  'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere',
  'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere',
  'img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere',
  'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]